.scrollspySite {
    position: relative;
    overflow: auto;
    height: 160px;
    margin: 0; /* remove default margin */
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
}

a{
  cursor: pointer;
}

.card{
  height: 425px;
}

.btn_favs{
  position: absolute;
  margin: 10px;
  bottom: 0;
  right: 0;
}

#cartaz {
  display: none;
}

#navbarFav{
  display: none;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
      scrollbar-width: none;
    }
  }
  body {
    margin: 0; /* remove default margin */
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
  }
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
  }
